<launch>

  <include file="$(find pibot_bringup)/launch/robot_with_imu.launch"/>

  <param name="use_sim_time" value="false" />

  <!--include file="$(find pibot_navigation)/launch/include/3dsensor_move_base.launch.xml" /-->

  <include file="$(find pibot_navigation)/launch/include/3dsensor_gmapping.launch.xml" />
  
</launch>
